* {
    box-sizing: border-box;
}
:root {
    --body-background-color: rgb(222, 219, 219);
    --primary-color: #034078;
    --heading-text-color: rgb(244, 244, 244);
    --main-text-color: black;
}
body {
    background-color: var(--body-background-color);
    margin: 0;
}
h1{
    background-color: var(--primary-color);
    color: var(--heading-text-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: ;

}
header{

}