* {
    box-sizing: border-box;
}
:root {
    --body-background-color: rgb(222, 219, 219);
    --primary-color: #034078;
    --heading-text-color: rgb(244, 244, 244);
    --main-text-color: black;
    --font-family: "sirin";
    --hover-color: #006cd2;
    --main-width: 70rem;
}
body {
    background-color: var(--body-background-color);
    margin: 0;
}
h1{
    background-color: var(--primary-color);
    color: var(--heading-text-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
   font-family: var(--font-family);
   margin: 1px;
   padding: 3rem;
    
}
header{
    display: block;
    
}
.navbar {
    background-color: var(--primary-color);
}
.nav {
    background-color: var(--primary-color);
    display: flex;
    max-width: 70rem;
    margin: auto;
}
.nav a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}
.nav a:hover {
    background-color: var(--hover-color);
}
footer{
    display: flex;
    padding: 1rem;
    align-items: end;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
}
main {
    max-width: var(--max-width);
    margin: auto;
    background-color: white;
    display: flex;
}
.nyheter h2 {
    font-size: 3rem;
    text-align: left;
}
.nyheter {
    display: flex;
    flex-direction: column;
}
.nyheter img {
    display: block;
    flex-shrink: 0;
    width: 50rem;
    height: 30rem;
    object-fit: cover;
    align-self: center;
    padding: 1rem;
}   
.nyheter p, h2 {
    padding: 1rem;
    align-self: center;
}
